<section id="popular">
  <div class="container">
    <p class="title">Top Popular <span>Games</span></p>
    <div class="liner"></div>
    <div class="card js-card">
      {{#each this}}
        <div class="card-item">
          <div class="image">
            <img src="./public/images/action-1 1.png" alt="demo" />
            <div class="likes">
              <p>{{likes}}</p>
              <img src="./public/images/Stars.png" alt="demo" />
            </div>
          </div>
          <div class="content">
            <p class="title">{{name}}</p>
            <p class="subtitle">{{genre}}</p>
            <img src="./public/images/Stars-rating.png" alt="demo" />
            <div class="date">
              <div class="updates">
                <p class="release">Release Date:{{release}}</p>
                <p class="updated">OS:{{Os}}</p>
              </div>
              <div class="btn">
                <a href="#" class="date-btn">See more</a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>