<div class="game-item">
    <img src="{{img}}" alt="demo" />
    <div class="layer">
    <h3>{{title}}</h3>
    <p class="text">{{text}}</p>
    <div class="block">
        <p class="realize_date">Release: {{date}}</p>
        <div class="sale">
        <p>{{money}} UAH</p>
        <a class="btn-sale" href="store.html" data-game-id="{{id}}">Buy</a>
        </div>
    </div>
    </div>
</div>
